<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h3>test</h3>
<p>address</p>                
<p>Name: Ivan Kao</p>
<p>電話 : phone</p>
<p>出貨日期： {{obj.date}}</p>
<p>客戶名稱 {{obj.customer.name}}</p>
<p>聯絡電話 {{obj.customer.phone}}</p>
<p>送貨地址 {{obj.customer.address}}</p>

<table>
    <tr>
        <th>名稱</th>
        <th>數量</th>
        <th>零售價</th>
        <th>優惠價</th>
    </tr>

    {% for name, number, retail_price, special_price in result %}
        <tr>
            <td>{{name}}</td>
            <td>{{number}}</td>
            <td>{{retail_price}}</td>
            <td>{{special_price}}</td>
        </tr>
    {% endfor %}
</table>


</body>
</html>